 .yellow{
       background-color:yellow;
       padding:40px;
       margin-top:20px;
       margin-bottom:20px;
       margin-right:20px;
       margin-left: 20px;
       display:inline-block;
       width:120px;
       text-align: center;

       }

  .red{
  	  background-color: red;
  	  padding:40px; 
  	  margin-top:20px;
  	  margin-bottom: 20px;
  	  margin-right:20px;
  	  margin-left:20px;
      display:inline-block;
      width:100px;
      text-align: center;
  }     
